* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    background-color: #eea333c7;
    font-size: 1.6rem;
    text-align: center;
}

header {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 3.2rem;
}

.container {
    padding: 1rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

#table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 3rem;
}

#table th, #table td {
    border: 1px solid #000;
    text-align: left;
    padding-left: 1rem;
}

#table th {
    background-color: rgb(223, 203, 24);
}

